/*font-family

font-family: 'Lato', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Sniglet', cursive;
*/
/*common start*/
*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../img/bg2.jpg);
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333333; 
}
.kid1, .kid2, .feature {
    padding-top: 90px;
    padding-bottom: 90px;
}
/*common end*/
/*header start*/
header{
	background-color: #fcdb00;
}
.c_v{
	color: rgb(241 92 92) !important;
    border-color: rgb(241 92 92) !important;
}
.menu ul li a{
	font-size: 18px;
	font-weight: 700;
	color: #fff !important;
	padding: 3px 20px !important;
	border-radius: 15px;
}
.menu ul li a:hover{
	background-color: #f05c5c;
}
.d_search_a,
.d_user_a{
	color: #fff;
}
.d_search_a:hover,
.d_user_a:hover{
	color: #f05c5c;
}
.f_f:focus,
.d_search_a:focus,
.d_user_a:focus{
	outline: 0;
	box-shadow: none;
}
.d_search_ul{
    background-color: transparent;
}
.d_user_ul{
	background: #ffd338;
}
.d_user_ul{
    top: 160%;
	left: -115px;	
}
.d_search_ul {
    top: 145%;
    left: -274px;
    min-width: 20rem;
    border: none;
}
.f_f{

}
/*header end*/
/*banner start*/
.banner{
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
.b_content {
    margin-top: 300px;
    margin-bottom: 310px;
}
.b_content h1 {
    font-size: 48px;
    font-weight: 700;
    color: #1ec0ff;
}
.scroll{}
.scroll p{
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
    color: #bbbbbb;
}
.scroll i{
	font-size: 40px;
	color: #bbbbbb;
}
/*banner end*/
/*kid1 start*/
.c_container {
    margin-bottom: 50px;
}
.c_title{
	margin-bottom: 0;
	font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}
.c_line{}
.c_line p{
	font-family: 'Sniglet', cursive;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
.k_container{}
.k_title{
	font-size: 24px;
    font-weight: 700;
    word-spacing: 5px;
}
.k_container hr{
	width: 150px;
    height: 3px;
    color: #bbbbbb;
}
.k_container_p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.a_discover{}
.discover{}
.k_img{}
.k_img img {
    width: 100%;
    border-radius: 20px;
}
/*kid1 end*/
/*kid2 start*/
.kid2 {
    background-image: url(../img/kid2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.kid2_single{}
.kid2_single img{
    border-radius: 50%;
}
.kid2_single h2{
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
/*kid2 end*/
/*feature start*/
.feature{}
.c_container2{
	margin-bottom: 0;
}
.f_img{
	margin: 5px auto;
}
/*card*/
.cd {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 20px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.chd{
	background-color: #1ec0ff;
	border: none;
}
.chd span{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
    color: #ffffff;
    letter-spacing: 1px;
} 
.card-block {
    margin: 0;
    font-size: 1em;
    position: relative;
    min-height: 155px;
    padding: 10px 16px;
    border: none;
    box-shadow: none;
}

.ct {
    margin-bottom: 0 !important;
    font-size: 24px;
    font-weight: 600;
    color: #1ec0ff;
}
.ctt {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.profile {
    position: absolute;
    top: -27px;
    right: 15px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0;
    background: #1ec0ff;
    border-radius: 50%;
}
.chd2,
.pt{
	background-color: #56d47e;
}
.chd3, .pt2{
	background: #f05c5c;
}
.chd4, .pt3{
	background: #ffd338;
}
.ct2{
	color: #000000;
}
.profile p{
	margin-top: 16px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	line-height: 5px;
	letter-spacing: 1px;
}
.profile span{
	font-size: 12px;
	font-weight: 300;
	color: #ffffff;
	letter-spacing: 1px;
}
.cf {
    position: static;
    top: 0;
    left: 0;
    background: #fff;
    border: none;
}
.cf hr{
	margin-top: 0;
	margin-bottom: 10px;
	color: #bbbbbb;
}
.fl{
	color: #bbbbbb78;
}

/*card*/
/*feature end*/
